{% extends "auctions/layout.html" %}

{% block body %}

  

{% if message %}
<div class="alert alert-danger alert-dismissible fade show" role="alert"> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
</div>
{% endif %}

    <form style="display: flex;flex-direction: column;align-items: center;justify-content: center;height: 90vh" action="{% url 'login' %}" method="post">
      <h2>Login</h2>
        {% csrf_token %}
        <div  style="width: 20%;margin-top: 1.2em"  class="form-group">
            <input style="width: 100%;box-shadow: none" autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div style="width: 20%" class="form-group">
            <input style="width: 100%;box-shadow: none;margin-top: 1em"  class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input style="width: 10%;margin-bottom: 1em;margin-top: 1em"  class="btn btn-dark" type="submit" value="Login">
        Don't have an account? <a style="color: black" href="{% url 'register' %}">Register here.</a>

    </form>

    
{% endblock %}