{% extends "auctions/layout.html" %}

{% block body %}
<div class="my-4 mx-4"> 
        <div > 
                <img src="{{watchlist_detail.IMAGE}}" height="300px" width="400px" alt="">
            </div>
            <h2>{{watchlist_detail.TITLE}}</h2>
            <p>{{watchlist_detail.DESCRIPTION}}</p>
            For : {{watchlist_detail.CATEGORY}} <br>
            Amount : ${{watchlist_detail.BID}}
            <form action="{{watchlist_detail.id}}" method="post">
                {% csrf_token %}
                <input class="btn btn-dark" type="submit" value="remove from watchlist">
            </form> 
</div>

{% endblock %}

